html
{
    height: 100%;
}

hr
{
    width: 100%;
}

body
{
    background: rgb(196,196,196);
background: linear-gradient(180deg, rgba(255,196,196,1) 45%, rgba(75,75,75,1) 45%);
}
.personCard
{
    background-color: whitesmoke;
}
.background-Image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }